html {
    font-size: 10px;
    background: url(./drums.png);
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    margin: 350px auto 0;
    align-items: center;
    justify-content: center;
  }

  .keys2 {
    display: flex;
    flex: 1;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .key {
    border: .4rem solid black;
    border-radius: 100px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.5s ease;
    width: 10rem;
    text-align: center;
    color: #f4f4f4;
    background: rgba(255, 218, 8, 0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    background: rgb(255, 218, 8);
    border-color: #f75c03;
    box-shadow: 0 0 1rem #f75c03;
    color:white;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sounds {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color:#0b2027;
  }
  